* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  font-family: Arlia, sans-serif;
}

/* Utility class */
.container {
  width: 1024px;
}

.container-mobile {
  width: 95%;
}

/* TOP CONNECT */
.top-connect {
  background: #272727;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #A7A7A7;
  text-align: center;
  padding:5px;
}

.top-connect--contact,
.top-connect--social {
  padding: 2px 0;
}

.top-connect--contact span {
  display: block;
}

.top-connect--social .fa {
  padding-right: 5px;
}

/* Header */
header {
  background-image: url('https://max-themes.net/demos/greennature/upload/slider-1.jpg');
  background-position: 80% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 60vh;
  position: relative;
}

header .nav {
  background-color: rgba(33, 58, 48, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

header .nav--logo img {
  width: 180px;
}

header .nav--menu {
  display: flex;
}

header .nav--menu .menu--hamburger {
  color: #FAFAFA;
  font-size: 30px;
  align-self: center;
  z-index: 2;
}

header .nav--menu .active{
  position: fixed;
  right: 30px;
}

header .nav--menu .menu--content {
  visibility: hidden;
  position: absolute;
  right: 0px;
}

header .nav--menu .menu--content-showed {
  /* display: flex; */
  visibility: visible;
  width: 100vw;
  height: 100vh;

  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transition: .5s ease-in-out;
}

header .nav--menu .menu--content-showed ul {
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}

header .nav--menu .menu--content-showed li {
  align-items: center;
  padding-top: 5px;
}

header .nav--menu .menu--content-showed a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

header .nav--menu .menu--content-showed .fa {
  display: none;
}


header .slider {
  position: relative;
  height: 100%;
  display: flex;
  color: #FFFFFF;
}

header .slider--content {
    align-self: center;
    margin-bottom: 110px;
    padding-left: 30px;
}

header .slider--content h1,
header .slider--content h3,
header .slider--content .btn {
  margin-top: 10px;
}

header .slider--content h3 {
  font-size: 26px;
}

header .slider--content .btn {
  background-color: #ECB338;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: #6D5B1C;
  font-weight: 600;
  font-size: 12px;
}

header .slider--pagination {
  position: absolute;
  bottom: 100px;
  left: 45%;
  display: flex;
}


header .slider--pagination div {
  margin: 5px;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor:pointer;
}
header .slider--pagination div:hover {
  background-color: #f6f6f6;
  transition: .5s ease-in-out;
}

/* Intro */
.intro {
  background-color: #2D2418;
  color: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.intro--second {
  background-color: #3F3221;
}

.intro--box {
  padding: 20px;
  width: 80%;
  margin: auto;
}

.intro--box h2 {
  padding: 20px;
  font-size: 20px;
}

.intro--box p {
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.5rem;
}

.intro--box .btn-learn-more {
  text-transform: uppercase;
}

.intro--img {
  margin: 20px;
}

.intro--img img{
  width: 50px
}

/* Donation */
.donation {
  background-image: url('https://max-themes.net/demos/greennature/upload/donation-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 30px;
}

.donation--box {
  background-color: rgba(45, 45, 45, 0.7);
  width: 80%;
  margin: auto;
  padding: 50px 40px 37px;
  margin-top:20px;
  color: #fff;
}

.donation--box h1 {
  color: #fec428;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 15px;
}

.donation--box h3 {
  font-size: 22px;
  padding-bottom: 17px;
}

.donation--box div {
  width: 35px;
  height: 3px;
  background-color: #fec428;
  margin-bottom: 17px;
}

.donation--box p {
  font-size: 13px;
  line-height: 1.3rem;
  margin-bottom: 17px;
}

.donation--box button {
  background-color: #fec428;
  border: 0px;
  padding: 15px 28px;
  color: #6d5b1c;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 3px;
  cursor: pointer;
}

.donation--box .green {
  color: #5dc269;
}

.donation--box .green-btn {
  background-color: #5dc269;
  color: #ffffff;
}

/* Our Projects */
.our-projects--heading {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ddd;
  margin: 20px;
  padding-bottom: 10px;
}

.heading--title {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.heading--title img{
  max-width: 37px;
  margin-right: 10px;
}

.our-projects--heading h3 {
  margin-top: 5px;
  font-size: 12px;
  padding-top: 10px;
  text-transform: uppercase;
  color: #5dc269;
  cursor: pointer;
}

.our-projects--heading h3:hover {
  color: #5f9607;
  transition: all 0.5s ease;
}

.our-projects--wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper--new-box {
  margin-bottom: 30px;
}

.wrapper--new-box h1 {
  font-size: 15px;
  color: #5dc269;
  letter-spacing: 1px;
  padding: 20px 0 10px 0;
}

.wrapper--new-box h3 {
  font-size: 11px;
  color: #808080;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.wrapper--new-box p {
  color: #808080;
  font-size: 13px;
  line-height: 1.3rem;
}

.new-box--img img {
  width: 100%;
  height: auto;
}

/* Section info */
.info--wrapper {
  background-color: #F5F5F5;
  padding: 60px 20px;
}

.wrapper--box {
  display: flex;
}

.box--img img {
  width: 100%;
  height: auto;
}

.box--content {
  margin-left: 20px;
  margin-bottom: 40px;
}

.box--content h1 {
  margin-bottom: 20px;
  font-size: 17px;
  color: #5dc269;
}

.box--content p {
  color: #909090;
  font-size: 13px;
}

/* Recent news */
.recent-news--heading {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ddd;
  margin: 20px;
  padding-bottom: 10px;
}

.recent-news--heading. heading--title {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.recent-news--heading .heading--title img{
  max-width: 37px;
  margin-right: 10px;
}

.recent-news--heading h3 {
  margin-top: 5px;
  font-size: 12px;
  padding-top: 10px;
  text-transform: uppercase;
  color: #5dc269;
  cursor: pointer;
}

.recent-news--heading h3:hover {
  color: #5f9607;
  transition: all 0.5s ease;
}

.recent-news--wrapper {
  margin: 20px;
}

.recent-news--wrapper .wrapper--new-box {
  display: flex;
}

.recent-news--wrapper .wrapper--new-box img {
  width: 70px;
  height: auto;
}

.recent-news--wrapper .wrapper--new-box .new-box--img {
  padding-right: 10px;
}

.recent-news--wrapper .wrapper--new-box h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.recent-news--wrapper .wrapper--new-box .content-info {
  display: flex;
  padding-top: 10px;
  font-size: 13px;
  color: #B0B0B0;
}

.recent-news--wrapper .wrapper--new-box .content-info .info--comments {
  padding-right: 20px;
}

/* Current campaign */
.current-campaign {
  margin-bottom: 20px;
}
.current-campaign--heading {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.current-campaign--heading. heading--title {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.current-campaign--heading h3 {
  margin-top: 5px;
  font-size: 12px;
  padding-top: 10px;
  text-transform: uppercase;
  color: #5dc269;
  cursor: pointer;
}

.current-campaign {
  margin: 20px;
}

.current-campaign .heading--wrapper .wrapper--img img {
  width: 100%;
}


.current-campaign .heading--wrapper .wrapper--content h1 {
  font-size: 15px;
  color: #5dc269;
  padding-top: 5px;
  cursor: pointer;
}


/* Subscribe */
.subscribe {
  background-image: url('https://max-themes.net/demos/greennature/upload/newsletter-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.subscribe h1 {
  font-size: 30px;
  color: #fec428;
  text-align: center;
  padding-bottom: 20px;
}

.subscribe input {
  background: #fff;
  padding: 20px 2%;
  border: 0px;
  width: 80%;
  margin-bottom: 20px;
}

.btn--subscribe {
  background-color: #5dc269;
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 17px;
  border: 0px;
  color: #fff;
  border-radius: 3px;
  font-weight: 800;
}

/* Section twitter feed */
.twitter-feed {
  background-color: #1D1D1D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 40px 20px;
}

.twitter-feed--icon .fa-twitter {
  color: #5FC1FF;
  font-size: 36px;
  padding-bottom: 20px;
}

.twitter-feed h3 {
  text-align: center;
  padding-bottom: 10px;
}

.twitter-feed p {
  padding-bottom: 10px;
}

.twitter-feed--nav span {
  padding-right: 20px;
}

/* Section service */
.service {
  background-image: url('https://max-themes.net/demos/greennature/upload/service-bg-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 20px;
}

.service--left .left--box {
  text-align: center;
}

.service--left .left--box .box--img img {
  max-width: 62px;
  margin-top: 40px;
}

.service--left .left--box h2 {
  color: #5dc269;
  padding: 10px 0;
}

.service--left .left--box h3 {
  color: #fff;
  padding-bottom: 30px;
}

.service--riht {
  padding: 40px 20px;
  text-align: center;
}

.service--riht h1{
  font-size: 39px;
  color: #fff;c4c4c4
}

.service--riht p{
  font-size: 21px;
  color: #c4c4c4;
  padding: 20px 0;
}

.service--riht button {
  background-color: #fec428;
  border: 0px;
  padding: 15px 28px;
  color: #6d5b1c;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 3px;
  cursor: pointer;
}

.service--riht .green-btn {
  background-color: #5dc269;
  color: #ffffff;
}

/* Media Queries for Desktop */
@media screen and (min-width: 1024px) {
  /* TOP CONNECT */
  .top-connect {
    justify-content: space-between;
    flex-direction: row;
  }

  .top-connect--contact {
    display: flex;
  }

  .top-connect--contact span {
    padding-right: 10px;
  }

  /* Section header */
  header {
  height: 100vh;
  }

  header .nav--menu .menu--hamburger {
    display: none;
  }
  header .nav--menu .menu--content {
    display: block;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-self: center;
    font-weight: 400;
  }

  header .nav--menu .menu--content ul {
    list-style-type: none;
    display: flex;
  }

  header .nav--menu .menu--content li {
    padding-right: 30px;
    cursor: pointer;
  }

  header .nav--menu .menu--content a {
    text-decoration: none;
    color: #fff;
    position: relative;
  }

  header .nav--menu .menu--content span {
    padding-bottom: 24px;
    position: relative;
    width: 0;
  }

  header .nav--menu .menu--content span:hover::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 4px solid #80A582;
  }

  header .nav--menu .menu--content .fa {
    padding-right: 5px;
  }

  header .nav--menu .menu--content .menu--donate {
    background-color: #ECB338;
    height: auto;
    padding: 23px 15px;
  }

  header .nav--menu .menu--content .menu--donate a {
    color: #685617;
  }

  header .nav--menu .menu--content .menu--donate:hover::after {
    border: 0px;
  }

  header .slider--content h3 {
    font-size: 36px;
  }

  /* Intro */
  .intro {
    flex-direction: row;
  }

  /* Donation */
  .donation {
    display: flex;
  }

  .donation--box {
    margin-right: 20px;
  }


  /* Our Projects */
  .our-projects--heading {
    flex-direction: row;
    justify-content: space-between;
  }

  .our-projects--wrapper {
    flex-direction: row;
  }

  .wrapper--new-box {
    margin-left: 10px;
  }

  /* Section info */
  .info {
    display: flex;
  }
  .info--image {
    background-image: url('https://max-themes.net/demos/greennature/upload/shutterstock_133689230.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: auto;
  }
  .info .info--wrapper {
    width: 50%;
  }

  /* Section service */
  .service--left {
    display: flex;
    justify-content: space-around;
  }
}
