/* Add Font */

@font-face {
font-family: 'SimSun-ExtB';
font-style: normal;
font-weight: normal;
src: local('SimSun-ExtB'), url('../font/simsunb.woff') format('woff');
}

/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(109.0563763017476deg, rgba(50, 87, 98,1) 5.533854166666667%,rgba(38, 52, 77,1) 96.67968749999999%);
  font-family: 'SimSun-ExtB';
  color: #fff;
}

/* Main Calculator Div */

.calculator
{
  width: 320px;
  height: 520px;
  margin: 70px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Display Answer Area */

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background: linear-gradient(68.2578385719944deg, rgba(0, 144, 255,1) 1.4039713609963655%,
  rgba(0, 143, 254,1) 1.4039713609963655%,rgba(0, 72, 128,1) 101.31282878108321%);

  text-align: center;
}

#display-answer {
  font-size: 3rem;

  padding-top: 30px;
  height: 50%;
}

#calculator-input {
  font-size: 1.2rem;
  padding-top: 10px;
}

/* Buttons */

button[id*="0"] {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
}

button[id*="="] {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
}


.btn {
  background-color: inherit;
  cursor: pointer;
  border: 1px solid #0087EF;
  color: #fff;
  font-family: 'SimSun-ExtB';
  font-size: 1.25rem;
}

.btn:hover {
border: 1px solid #44AEFF;
}

.number {
  background-color: #0090FF;
}

.action {
  background-color: #1E89DC;
}
